body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: radial-gradient(circle, #800080, #0000FF); /* Fondo morado que se desvanece al azul desde el centro */
  color: white;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      #FF00FF 20px,
      #FF00FF 40px
  ); /* Cuadrados rosa neon */
  opacity: 0.2; /* Transparencia para no saturar */
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle, #800080, #0000FF); /* Fondo morado que se desvanece al azul desde el centro */
  border: 2px solid #FF00FF; /* Borde rosa neon */
  color: white;
  padding: 1rem;
  position: relative;
  flex-wrap: wrap;
}

header h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

header .logo {
  width: 80px;
  height: 100px;
  margin: 20px;
}

main {
padding: 1rem;
}

.producto {
display: inline-block;
margin: 1rem;
border: 1px solid #ddd;
border-radius: 5px;
padding: 1rem;
width: 200px;
}

.producto img {
width: 100%;
height: auto;
}

button {
background-color: #4CAF50;
color: white;
border: none;
padding: 0.5rem 1rem;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #45a049;
}


#btn-menu {
  position: absolute;
  top: 10px;
  right: 10px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}


main {
  padding: 1rem;
  text-align: center;
}

main ul {
  list-style: none;
  padding: 0;
}

main ul li {
  margin: 1rem 0;
}

main ul li a, main ul li button {
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main ul li button:hover, main ul li a:hover {
  background-color: #45a049;
}

@media screen and ( max-width:768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  header .logo {
    width: 60px;
    margin: 0.5rem 0;
  }

  #btn-menu {
    top: auto;
    margin-top: 10px;
    position: relative;
  }

  
}